{% extends "base.html" %}
{% block title %}Create a New Ride{% endblock %}
{% block content %}

    <h2 class="page-header">Create a New Request</h2>
    


    <form method="POST">
    {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}
    {% if success %}
            <div class="alert alert-success">
                <strong>{{ success }}</strong>
            </div>
        {% endif %}
        <div>{% csrf_token %}
            {{ form.as_p}}
        </div>
        <div>
            <button type="submit">Submit</button>

        </div>
    </form>
{% endblock %}